*{
    background-color: black;
    color: white;
}

h1{
    margin-top: 30px;
}

.navigations{
    top: 0;
    margin: 0;
    position: fixed;
    list-style: none;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 8px;
    margin-top: 0;
    position: fixed;
    display: flex;
    justify-content: end;
}

.navigations a{
    margin-right: 20px;
}

#myphoto{
    height: 280px;
    width: 290px;
    border-radius: 50%;
    margin-top: 35px;
}

#about{
    display: flex;
    justify-content: space-between;
}

.intro{
    max-width: 500px;
}

.cv{
    border: 1px solid blueviolet;
    border-radius: 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    max-width: 100%;
    font-weight: bolder;
    color: #8A2BE2;
    max-width: 80%;
    transition: all 150ms ease-in-out;
}

.cv:hover{
    background-color: white;
    color: #8A2BE2;
    transform: scale(1.02);
    cursor: pointer;
}

#project1, #project2, #project3, #project4, #project5, #project6{
    height: 80px;
    width: 140px;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

a{
    color: #8A2BE2;
    text-decoration: none;
}

.project{
    border: 1px solid #8A2BE2;
    width: 180px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}